/*Fonts*/
@font-face {
  font-family: Bangers;
  src: url(https://fonts.gstatic.com/s/bangers/v20/FeVQS0BTqb0h60ACH55Q2A.woff2) format('woff2');
}

@font-face {
  font-family: 'Great Vibes';
  src: url(https://fonts.gstatic.com/s/greatvibes/v14/RWmMoKWR9v4ksMfaWd_JN9XFiaQ.woff2) format('woff2');
}

@font-face {
  font-family: "Playfair Display";
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v29/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2) format('woff2');
}

@font-face {
  font-family: 'Raleway';
  src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
}

@font-face {
  font-family: "Shadows Into Light";
  src: url(https://fonts.gstatic.com/s/shadowsintolight/v15/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD5.woff2) format('woff2');
}

/*Body*/
body {
  background-color: rgba(193, 248, 255, 1);
  margin: 0;
  padding: 0;
  text-align: center;
}

/*Banner*/
.banner {
  background-image: url("../images/diamond pattern.png");
  background-size: cover;
  border-bottom: 3px solid rgba(36, 130, 156, 1);
  height: 200px;
  position: absolute;
  top: 0;
  width: 100%;
}

.title-background {
  background-color: rgba(193, 248, 255, 0.5);
  border: 3px solid rgba(36, 130, 156, 1);
  border-radius: 5px;
  height: 130px;
  margin: 30px auto;
  width: 500px;
}

h1 {
  color: rgba(186, 45, 101, 1);
  font-family: 'Great Vibes';
  font-size: 60px;
  margin: 0 auto;
  padding-top: 15px;
}

#subtitle {
  color: rgba(36, 130, 156, 1);
  font-family: 'Raleway';
  font-size: 30px;
  margin: 0 auto;
}

/*Navigation*/
#nav {
  background:rgba(36, 130, 156, 0.5);
  border-bottom: 3px solid rgba(36, 130, 156, 1);
  height: 30px;
  margin-top: 200px;
  width: 100%;
}

#nav ul {
  color:rgba(186, 45, 101, 1);
  display: inline-flex;
  font-weight: bold;
  list-style: none;
  margin: 0 auto;
}

#nav li {
  padding: 7px 20px;
}

a {
  color:rgba(186, 45, 101, 1);
  text-decoration: none;
}

a:hover {
  color:#133B75;
}

/*Main Font Styles*/
h2, h3 {
  font-family: Raleway;
  font-size: 20px;
}

h2 {
  color: rgba(36, 130, 156, 1);
  margin-top: 75px;
}

p {
  font-family: Raleway;
  font-weight: bold;
  margin-top: -10px;
}

/*Colors Section*/
#colors {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
}

@media (max-width: 800px){
  #colors {
    width: 100%;
  }
}

ul {
  font-family: Raleway;
  text-align: left;
}

.color-boxes {
  border-radius: 20px;
  box-shadow:5px 5px rgba(36, 130, 156, 1);
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 50px;
  width: 200px;
}

.color-box1 {
  background: #2A5188; /*background*/
  color: #000;
}

.color-box2 {
  background: #E7F58F; /*h1, quote background, & link hover*/
  color:#2A5188;
}

.color-box3 {
  background: #000; /*font & quote border*/
  color: #E7F58F;
}

.color-box4 {
  background: #587CAF; /*h1 text-shadow*/
  color: #133B75;
}

.color-box5 {
  background: #133B75; /*picture border-color*/
  color: #CCEEEF;
}

.color-box6 {
  background: #CCEEEF; /*content background, box-shadow, & link*/
  color: #587CAF;
}

/*Fonts & Styles Section*/
.bangers {
  font-family: Bangers;
}

.playfair {
  font-family: 'Playfair Display';
}

.shadows {
  font-family: 'Shadows Into Light';
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.normal {
  font-weight: normal;
}

#fonts, #styles {
  background:rgba(36, 130, 156, 0.5);
  border-collapse: separate;
  border-radius: 20px;
  border-spacing: 40px 0;
  box-shadow:5px 5px rgba(36, 130, 156, 1);
  font-family: Raleway;
  margin: 0 auto;
  padding: 40px 0;
}

#fonts td {
  font-size: large;
}

#fonts th,
#styles td {
  color: rgba(36, 130, 156, 1);
}

#fonts th {
  border-bottom: 1px solid black;
  font-size: 20px;
}

#styles {
  margin-bottom: 100px;
}

.padding {
  padding: 20px;
}

.heading {
  font-size: 80px;
}

.subheading {
  font-size: 50px;
}

.catheading {
  font-size: 35px;
}

.boxheading, .quote {
  font-size: 30px;
}

.paragraph {
  font-size: 20px;
}

/*Footer*/
#footer {
  background: rgba(36, 130, 156, 0.5);
  border-top:3px solid rgba(36, 130, 156, 1);
  bottom: 0;
  color: rgba(36, 130, 156, 1);
  height: 120px;
  justify-items: center;
  margin: 0 auto;
  padding-top: 50px;
}

.links {
  padding: 10px;
}

#signature {
  color: #E9237A;
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  padding-right: 1em;
  text-align: right;
}